<nav class="navbar navbar-inverse bg-light">
  <span class="navbar-brand mb-0 h1">Entrar em nova sala</span>
</nav>

<div class="container">
<div class="jumbotron">

  <div class="row">
    <div class="col">
      <h6>Informe o nome da sala:</h6>

      <div class="form-group">
          <input class="form-control form-control-lg" type="text" placeholder="Ex:Brainstorming do casamento">
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col">
          <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-primary">Entrar</button>
          </div>
      </div>
    </div>
  </div>
</div> 