<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="card text-black bg-white mb-3" style="max-width: 50rem;">
  <div class="card-body">
    <div class="card-title"></div>

    <div>
      <h5 class="card-title">Entrar na sala</h5>
    </div>

    <hr/>
    <form>
       <div class="form-group">
        <input 
          type="text"
          class="form-control" 
          placeholder="ID da sala"
        >
      </div>


      <button type="submit" class="btn btnEntrar btn-block">Entrar</button>
    </form>
    <hr />
	
	<p class="small text-center">Entre em uma sala e faça chover ideias</p>

  </div>
</div>
<br />