.card-title {
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.btnEntrar{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}