<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm">
               
                <div class="menu">
                    <div class="top-lista"><p id="top">SALAS ATIVAS</p></div>
                    
                    <ul class="list-group">
                            <li class="list-group-item">SALA 1</li>
                            <li class="list-group-item">SALA 2</li>
                            <li class="list-group-item">SALA 3</li>
                            <li class="list-group-item">SALA 4</li>
                            <li class="list-group-item">SALA 5</li>
                            <li class="list-group-item">SALA 6</li>
                            <li class="list-group-item">SALA 7</li>
                            <li class="list-group-item">SALA 8</li>
                            <li class="list-group-item">SALA 9</li>
                            <li class="list-group-item">SALA 10</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-8 ">
                <div class="foto"><img id="foto" src="../assets/brainstorming-1-638.jpg"/></div>
                <div class="buton">
                    <button type="button" class="btn btn-lg btn-primary">Criar Sala</button>
                    <button type="button" class="btn btn-lg btn-primary">Salas Criadas</button>
                </div>
            </div>    
        </div>
    </div>
</div> 

  