.container{
    height: 400px;
    margin-left: 152px;
    background-color: rgb(249, 249, 253);
}
.col-sm{
    margin-top: 20px;
    margin-left: -100px;
    
   
}

#top{
   
    text-decoration-color: blue;
}

#foto{
    border-block-end-color: black;
   
}
.menu{
    margin-top: -80px;
    margin-left: -100px;
    width: 300px;
    height: 400px;
    background-color: rgb(2, 248, 207);
    overflow-y: scroll;
  
  }

.col-sm-8{
    margin-top: 20px;
    width: 300px;
    height: 400px;
    
    
}

img {
    max-width: 200%;
 
    
}

.btn{
    margin-top: 200px;
    background: #3E4095;
    align-self: center;
}

