.container{
    height: 400px;
    margin-left: 152px;
    background-color: rgb(249, 249, 253);
}
.col-sm{
    margin-top: 20px;
    margin-left: -100px;
    
   
}

#top{
   
    text-decoration-color: blue;
}

#foto{
    border-block-end-color: black;
   
}
.menu{
    margin-top: -80px;
    margin-left: -100px;
    width: 300px;
    height: 400px;
    background-color: rgb(2, 248, 207);
    overflow-y: scroll;
  
  }

.col-sm-8{
    margin-top: 20px;
    width: 300px;
    height: 400px;
   
    
    
}

img {
    max-width: 200%;
    width: 300px;
    height: 200px;
 
    
}

.btn{
    margin-top: 200px;
    background: #3E4095;
    align-self: center;
    margin-right: 10px;
}
.top-lista{
    text-align: center;
    background: white;
    height: 20px;
}
.foto{
    margin-top: -60px;
    margin-right: 100px;
}
.buton{
    margin-top: -150px;
}

