<div class="container">
    <div class="row">
      <div class="col-sm">
          <table class="table table-sm table-dark">
              <thead>
                <tr>
                  <th scope="col">Sala</th>
                  <th scope="col">Autor</th>
                  <th scope="col">Ideia</th>
                  <th scope="col">Tempo Restante</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Ranielison</td>
                  <td>Atualizar Trello</td>
                  <td>50 minutos</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Alberto</td>
                  <td>Aprender Angular</td>
                  <td>24 Horas</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Iago</td>
                    <td>Falar Muito</td>
                    <td>30 Minutos</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
              </tbody>
            </table>
      </div>
      <div class="col-sm-8 ">
          <button type="button" class="btn btn-lg btn-primary">Criar Sala</button>
          <button type="button" class="btn btn-lg btn-primary">Salas Criadas</button>
      </div>
      
    </div>
  </div>
  