<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm">
               
                <div class="menu">
                    <p id="top">Salas Ativas</p>
                    <ul class="list-group">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-8 ">
                <img id="foto" src="../assets/brainstorming-1-638.jpg"/>
                <button type="button" class="btn btn-lg btn-primary">Criar Sala</button>
                <button type="button" class="btn btn-lg btn-primary">Salas Criadas</button>
            </div>    
        </div>
    </div>
</div> 

  